* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Proxima Nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url('Images/Layer.png');
  background-size: cover;
}

.form__container {
  width: 100%;
  max-width: 429px;
  height: 546px;
  padding: 40px 40px 50px;

  background-color: rgba(17,23,27,0.8);
  color: #ffffff;
}

.form__navigation-tab {
  display: none;
}

.form__navigation-tab:checked + label {
  border-bottom: 3px solid #ffab1a;
}

.form__navigation-label {
  display: inline-block;

  margin: 0;
  margin-right: 48px;
  padding: 0;
  padding-bottom: 6px;

  font-size: 22px;
  text-transform: uppercase;

  cursor: pointer;
}

.form__navigation-label:last-of-type {
  margin-right: 0;
}

.form {
  display: none;
}

.form--sign-in {
  margin-top: 80px;
}

.form--sign-up {
  margin-top: 60px;
}

.form__navigation-tab:checked:nth-of-type(1) ~ form:nth-of-type(1) {
  display: block;
}

.form__navigation-tab:checked:nth-of-type(2) ~ form:nth-of-type(2) {
  display: block;
}

.form__input-block {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.form__input-wrapper {
  margin: 0;
}

.form__input-wrapper:not(:last-child) {
  margin-bottom: 54px;
}

.form__input  {
  width: 100%;
  padding: 8px 3px;

  color: #ffffff;
  font-size: 17px;

  background: none;
  border: none;
  border-bottom: 1px solid #a5a5a3;
}

.form__input::placeholder {
  color: #ffffff;
  font-size: 18px;
}

.form__agree {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  font-size: 16px;
}

.form__keep {
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  font-size: 16px;
}

.form__submit {
  display: block;

  margin: 0 auto;
  padding: 10px;
  width: 195px;
  height: 40px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;

  background-color: #f57f17;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.form__forgot {
  display: block;

  margin: 24px auto 0;
  width: 200px;

  text-align: center;
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 431px) {
  .form__container {
    padding: 30px 30px 40px;
  }

  .form__agree, .form__keep {
    font-size: 15px;
  }
}
